
@{
	ViewData["Title"] = "KoolFarming - Liên hệ";
	ViewData["Description"] = "Liên hệ đến chúng tôi để được hỗ trợ nhiều hơn về ứng dụng KoolFarming.";
	ViewData["Keywords"] = "Kool Farming lien he, Smart Farming, Giai phap nong nghiep";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="contact-one">
	<div class="block-title text-center">
		<p>Liên hệ</p>
		<h3>Gửi phản hồi đến chúng tôi</h3>
		<div class="leaf">
			<img src="~/images/leaf.png" loading="lazy" alt="Gửi phản hồi đến chúng tôi">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
					<img src="~/images/Contact.svg" loading="lazy" class="rounded" alt="Kool farming " />
			</div>
			<div class="col-xl-6">
				<div class="have_questions">
					<div class="block-title text-center">
						<h3>Thông tin liên hệ</h3>
						<div class="leaf">
							<img src="~/images/leaf.png" loading="lazy" alt="Thông tin liên hệ">
						</div>
					</div>
					<div class="have_questions_text text-left">
						<a href="https://goo.gl/maps/18cWMCXC3SZ4C2iv8">
							<i class="fa fa-map-marker-alt mr-2"></i>
							<span>
								Trụ sở: 93B Hưng Đạo Vương, Trung Dũng, Biên Hòa, Đồng Nai
							</span>
						</a>
						<br />
						<a href="mailto:info@h2aits.com">
							<i class="fa fa-envelope mr-2"></i>
							<span>info@h2aits.com</span>
						</a>
						<br>
						<a href="tel:0903 380 583">
							<i class="fa fa-phone-alt mr-2"></i>
							<span>0903 380 583</span>
						</a>
					</div>
					<div class="image_box">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.1604855948144!2d106.8198015142882!3d10.951247108938233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174dd7e51cf953f%3A0x8cd86419b025d2f9!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gR0nhuqJJIFBIw4FQIEPDlE5HIE5HSOG7hiBIMkEgVknhu4ZUIE5BTQ!5e0!3m2!1svi!2s!4v1650083513587!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
