<div class="side-menu__block">
	<div class="side-menu__block-overlay custom-cursor__overlay">
		<div class="cursor"></div>
		<div class="cursor-follower"></div>
	</div><!-- /.side-menu__block-overlay -->
	<div class="side-menu__block-inner ">
		<div class="side-menu__top justify-content-end">

			<a href="#" class="side-menu__toggler side-menu__close-btn">
				<img src="~/assets/images/shapes/close-1-1.png" alt="">
			</a>
		</div><!-- /.side-menu__top -->


		<nav class="mobile-nav__container">
			<!-- content is loading via js -->
		</nav>
		<div class="side-menu__sep"></div><!-- /.side-menu__sep -->
		<div class="side-menu__content">
			<p>
				<a href="mailto:info@h2aits.com"><span class="icon-message mr-2"></span><span>info@h2aits.com</span></a> <br>
				<a href="tel:0903 380 583"><span class="icon-phone-call mr-2"></span><span>0903 380 583</span></a>
			</p>
			<div class="side-menu__social">
				<a href="https://www.facebook.com/H2A.ITS"><i class="fab fa-facebook-f"></i></a>
				<a href="https://h2aits.com/"><i class="fas fa-globe"></i></a>
			</div>
		</div><!-- /.side-menu__content -->
	</div><!-- /.side-menu__block-inner -->
</div>

