<div class="site-header__header-one-wrap">

	<div class="topbar-one">
		<div class="topbar_bg" style="background-image: url(./assets/images/shapes/header-bg.png)"></div>
		<div class="container">
			<div class="topbar-one__left">
				<a href="mailto:info@h2aits.com"><span class="icon-message"></span>info@h2aits.com</a>
				<a href="tel:0903 380 583"><span class="icon-phone-call"></span>0903 380 583</a>
			</div>
			<div class="topbar-one__middle">
				<a href="/" class="main-nav__logo">
					<img src="~/images/LogoH2a.jpg" class="main-logo" alt="H2AITS Logo" />
				</a>
			</div>
			<div class="topbar-one__right">
				<div class="topbar-one__social">
					<a href="https://www.facebook.com/H2A.ITS"><i class="fab fa-facebook-f"></i></a>
					<a href="https://h2aits.com/"><i class="fas fa-globe"></i></a>
				</div>
			</div>
		</div>
	</div>

	<header class="main-nav__header-one">
		<nav class="header-navigation stricky">
			<div class="container clearfix">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="main-nav__left">
					<a href="/" class="main-nav__left-logo">
						<img src="~/images/LogoH2a.jpg" alt="H2AITS Logo" />
					</a>
				</div>
				<div class="main-nav__main-navigation">
					<ul class=" main-nav__navigation-box" id="nav_box">
						<li>
							<a href="/">Trang chủ</a>
						</li>
						<li class="dropdown">
							<a href="/tinh-nang">Tính năng</a>
							<ul>
								<li>
									<a href="/tinh-nang/quan-ly-vung-trong">
										Quản lý vùng trồng
									</a>
								</li>
								<li>
									<a href="/tinh-nang/nhat-ky-nong-ho">
										Nhật ký Nông hộ
									</a>
								</li> 
								<li>
									<a href="/tinh-nang/ket-noi-thiet-bi-iot">
										Kết nối thiết bị IOT
									</a>
								</li>
								<li>
									<a href="https://intro.koolselling.com/">
										Kết nối Kool Selling
									</a>
								</li>
							</ul><!-- /.sub-menu -->
						</li>
						<li>
							<a href="/lien-he">Liên hệ</a>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->

				<div class="main-nav__right">
					<div class="icon_cart_box">
						<a href="#" class="side-menu__toggler">
							<i class="fa fa-bars"></i>
						</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
</div>