<section class="best_company">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="company_content wow fadeInLeft animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
					<div class="block-title text-left">
						<p>Giới thiệu</p>
						<h3>Sơ lược về Kool Farming</h3>
						<div class="leaf">
							<img src="~/images/leaf.png" loading="lazy" alt="Sơ lược về Kool Farming">
						</div>
					</div>
					<ul class="company_list_box list-unstyled">
						<li>
							<i class="fa fa-check"></i>Thống kê diện tích vùng trồng.
						</li>
						<li>
							<i class="fa fa-check"></i>Phân bổ và Giám sát kế hoạch.
						</li>
						<li>
							<i class="fa fa-check"></i>Dự báo và Lập kế hoạch sản lượng.
						</li>
						<li>
							<i class="fa fa-check"></i>Kế hoạch bán hàng và Kế hoạch trồng mới.

						</li>
					</ul>
					<a href="/tinh-nang">
						<div class="company_button_box">
								<div class="company_icon">
									<img src="assets/images/resources/company-icon-1.png" alt="">
								</div>
							<div class="company_text">
								<p>Xem thêm về Kool Farming</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="company_image wow fadeInRight animated"  data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInRight;">
					<img src="~/images/about.png" loading="lazy" alt="Về Kool Farming">
				</div>
			</div>
		</div>
	</div>
</section>
