<section class="banner-section banner-one">

	<div class="banner-carousel owl-theme owl-carousel">
		<!-- Slide Item -->
		<div class="slide-item">
			<div class="image-layer" style="background-image: url(../images/banner-1.jpeg);">
			</div>
			<div class="auto-container">
				<div class="content-box">
					<div class="content">
						<div class="inner">
							<div class="sub-title">H2A IT Solution</div>
							<h1>Kool Farming<br> minh bạch và kết nối</h1>
							<div class="link-box">
								<a href="https://nhatky.koolfarming.com" target="_blank" class="thm-btn">
									<span class="mr-2">Khám phá ngay</span><i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Slide Item -->
		<div class="slide-item">
			<div class="image-layer" style="background-image: url(../images/banner-2.jpeg);">
			</div>
			<div class="auto-container">
				<div class="content-box">
					<div class="content">
						<div class="inner">
							<div class="sub-title">H2A IT Solution</div>
							<h1>Kool Farming<br> minh bạch và kết nối</h1>
							<div class="link-box">
								<a href="https://nhatky.koolfarming.com" target="_blank" class="thm-btn">
									<span class="mr-2">Khám phá ngay</span><i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Slide Item -->
		<div class="slide-item">
			<div class="image-layer" style="background-image: url(../images/banner-3.jpeg);">
			</div>
			<div class="auto-container">
				<div class="content-box">
					<div class="content">
						<div class="inner">
							<div class="sub-title">H2A IT Solution</div>
							<h1>Kool Farming<br> minh bạch và kết nối</h1>
							<div class="link-box">
								<a href="https://nhatky.koolfarming.com" target="_blank" class="thm-btn">
									<span class="mr-2">Khám phá ngay</span><i class="fas fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>