<div class="brand-one">
	<div class="container">
		<div class="block-title text-center">
			<p>Khách hàng</p>
			<h3>Đối tác của kool farming</h3>
			<div class="leaf">
				<img src="~/images/leaf.png" loading="lazy" alt="Đối tác của kool farming">
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="brand-one-carousel owl-carousel">
					<div class="single_brand_item">
						<a href="#"><img src="~/images/customer/AgriConnect-square.svg" loading="lazy" alt="AgriConnect Digital Agriculture"></a>
					</div>

					<div class="single_brand_item">
						<a href="#"><img src="~/images/customer/Logo_TMT1.svg" loading="lazy" alt="Công ty Cổ phần TMT Consulting"></a>
					</div>
					
					<div class="single_brand_item">
						<a href="#"><img src="~/images/customer/mind_logo.svg" loading="lazy" alt="Công ty TNHH Công nghệ MIND"></a>
					</div>
					
					<div class="single_brand_item">
						<a href="#"><img src="~/images/customer/xelex_logo.svg" loading="lazy" alt="Công ty Cổ phần Công nghệ Xelex"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>