<section class="best_company">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6">
				<div class="company_content wow fadeInLeft animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
					<div class="block-title text-left">
						<p>Câu hỏi</p>
						<h3>Câu gỏi thường gặp</h3>
						<div class="leaf">
							<img src="~/images/leaf.png" loading="lazy" alt="Câu gỏi thường gặp về Kool Farming">
						</div>
					</div>
					<div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion">
						<div class="accrodion active">
							<div class="accrodion-title">
								<h4>Kool Farming là gì ?</h4>
							</div>
							<div class="accrodion-content" style="display: block;">
								<div class="inner">
									<p>
										Kool Farming là phần mềm quản lý thông tin vùng trồng và nhật ký canh tác. Tích hợp nhiều chức năng tiến bộ vào quản lý và điều hành trên diện tích vùng trồng rộng lớn.
									</p>
								</div><!-- /.inner -->
							</div>
						</div>
						<div class="accrodion">
							<div class="accrodion-title">
								<h4>Đối tượng sử dụng Kool Farming là những ai ?</h4>
							</div>
							<div class="accrodion-content" style="display: none;">
								<div class="inner">
									<p>
										Kool Farming hướng đến các dự án nông nghiệp muốn quản lý và điều hành vùng trồng một cách tiện lợi.
									</p>
								</div><!-- /.inner -->
							</div>
						</div>
						<div class="accrodion ">
							<div class="accrodion-title">
								<h4>Đăng kí Kool Farming như thế nào ?</h4>
							</div>
							<div class="accrodion-content" style="display: none;">
								<div class="inner">
									<p>
										Tại H2AITS, đăng ký Kool Farming rất đơn giản và không có yêu cầu đặt biệt. Trên thực tế, thường bạn chỉ mất 10 phút là thời gian khởi tạo Website, đăng ký và liên kết nhiều trang trại
									</p>
								</div><!-- /.inner -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="company_image wow fadeRight animated" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInRight;">
					<video id="question-video" poster="~/images/question.png" controls="controls">
						<source src="~/video/koolfarming-video.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</section>