<section class="service_four">
	<div class="container">
		<div class="service_four_top"></div>
		<div class="block-title text-center">
			<p>Tính năng</p>
			<h3>Tính năng chính của Kool Farming</h3>
			<div class="leaf">
				<img src="~/images/leaf.png" loading="lazy" alt="Tính năng chính của Kool Farming">
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-6 mb-5">
				<div class="service_four_single wow fadeInLeft animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
					<div class="service_four_icon">
						<span class="icon-tractor"></span>
					</div>
					<div class="service_four_deatils">
						<h3>
							<a href="/tinh-nang/quan-ly-vung-trong" class="service_four_title">
								Quản lý vùng trồng
							</a>
						</h3>
						<p>
							Quản lý trang trại, diện tích vùng trồng và phân thửa vùng trồng.
						</p>
					</div>
					<div class="service_four_read_more">
						<a href="/tinh-nang/quan-ly-vung-trong"><span class="icon-left-arrow"></span></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 mb-5">
				<div class="service_four_single wow fadeInLeft animated" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInLeft;">
					<div class="service_four_icon">
						<span class="icon-farmer"></span>
					</div>
					<div class="service_four_deatils">
						<h3>
							<a href="/tinh-nang/nhat-ky-nong-ho" class="service_four_title">
								Nhật ký Nông hộ
							</a>
						</h3>
						<p>
							Quản lý nhân công, kho vật tư, hỗ trợ chấm công và ghi lại nhật ký gieo trồng chăm sóc.
						</p>
					</div>
					<div class="service_four_read_more">
						<a href="/tinh-nang/nhat-ky-nong-ho"><span class="icon-left-arrow"></span></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="service_four_single wow fadeInRight animated" data-wow-delay="900ms" style="visibility: visible; animation-delay: 900ms; animation-name: fadeInLeft;">
					<div class="service_four_icon">
						<span class="icon-temperature"></span>
					</div>
					<div class="service_four_deatils">
						<h3>
							<a href="/tinh-nang/ket-noi-iot" class="service_four_title">
								Kết nối thiết bị IOT
							</a>
						</h3>
						<p>
							Tích hợp công nghệ IoT vào việc giám sát và phân tích số liệu để có được những đánh giá chính xác.
						</p>
					</div>
					<div class="service_four_read_more">
						<a href="/tinh-nang/ket-noi-iot"><span class="icon-left-arrow"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>