<section class="benefits why_choose_us_benefits">
	<div class="container">
		<div class="benefits_bottom_part">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="benefits_single wow fadeInUp animated" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
						<div class="icon-box">
							<span class="icon-tractor"></span>
						</div>
						<h3>Hiệu quả vượt trội</h3>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="benefits_single wow fadeInUp animated" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInUp;">
						<div class="icon-box">
							<span class="icon-cart"></span>
						</div>
						<h3>Giảm thiểu tài nguyên</h3>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="benefits_single wow fadeInUp animated" data-wow-delay="900ms" style="visibility: visible; animation-delay: 900ms; animation-name: fadeInUp;">
						<div class="icon-box">
							<span class="icon-watering-can"></span>
						</div>
						<h3>Nâng cao chất lượng</h3>
					</div>
				</div>
				 <div class="col-xl-3 col-lg-3 col-md-6">
					<div class="benefits_single wow fadeInUp animated" data-wow-delay="1200ms" style="visibility: visible; animation-delay: 1200ms; animation-name: fadeInUp;">
						<div class="icon-box">
							<span class="icon-log"></span>
						</div>
						<h3>Quản lý dễ dàng</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>