
@{
	ViewData["Title"] = "Nhật ký nông hộ";
	ViewData["Description"] = "Thay vì phải ghi chép sổ sách một cách thử công và mang đến nhiều sự bất tiện trong việc đối soát và thống kê, chúng tôi tạo nên một tính năng được gọi là nhật ký nông hộ giúp cho chủ trang trại có thể ghi chép, lưu trữ về thông tin vụ mùa, chi phí sản xuất, đặc điểm cây giống một cách tự động và cực kỳ tiện lợi trong việc tra cứu.";
	ViewData["Keywords"] = "Kool Farming, Nhat ky nong ho";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="news_detail">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-7">
				<div class="news_detail_left">
					<div class="news_detail_image_box">
						<img src="~/images/feature/thumb/nhatky.jpg" loading="lazy" alt="Nhật ký nông hộ">
					</div>
					<div class="news_detail_content mt-5">
						<h2 class="text-uppercase">Nhật ký nông hộ</h2>
						<p>Thay vì phải ghi chép sổ sách một cách thử công và mang đến nhiều sự bất tiện trong việc đối soát và thống kê, chúng tôi tạo nên một tính năng được gọi là <strong>nhật ký nông hộ</strong> giúp cho chủ trang trại có thể ghi chép, lưu trữ về thông tin vụ mùa, chi phí sản xuất, đặc điểm cây giống một cách tự động và cực kỳ tiện lợi trong việc tra cứu.</p>
						<p class="news_detail_one_text">
							<h3>1. Nhật ký nông hộ là gì ?</h3>
							Nhật ký nông hộ được thiết kế cho chủ trang trại giúp lưu trữ và quản lý trang trại qua các giai đoạn khác nhau, ghi chép việc sử dụng các loại phân bón, thuốc BVTV một cách trực quan hơn, lưu trữ được thông tin thời tiết ở từng thời điểm của cây, giúp cho chủ tang trại có thêm được nhiều thông tin hơn, để phân tích rõ ràng và chính xác hơn về yếu tố kỹ thuật và lợi ích kinh tế. Đồng thời, cũng đồng bộ được thông tin với việc truy xuất nguồn gốc, giúp truy xuất thông tin một cách minh bạch.
							<img src="~/images/feature/nhat-ky-nong-ho.png" loading="lazy" class="w-100" alt="Nhật ký nông hộ là gì ?">
						</p>
						<p class="news_detail_two_text">
							<h3>2. Quản lý vật tư</h3>
							Tại đây khách hàng sẽ nhập liệu danh sách các vật tư như thiết bị, dụng cụ nông nghiệp, cây giống, phân bón và thuốc bảo vệ thực vật giúp cho việc quản lý vật tư một cách trực quan và minh bạch.
							<img src="~/images/feature/quanlyvattu.png" loading="lazy" class="w-100" alt="Quản lý vật tư" />
						</p>
						<p class="news_detail_two_text">
							<h3>3. Quản lý nhân công</h3>
							Tính năng này cho phép chủ trang trại lên kế hoạch công việc từ đó chia công việc và cung cấp vật tư cho từng nhân công một cách hợp lý giúp tiết kiệm chi phí và tài nguyên.
							<img src="~/images/feature/quanlycongviec.png" loading="lazy" class="w-100" alt="Quản lý nhân công" />
						</p>
						<p class="news_detail_two_text">
							<h3>4. Nhật ký</h3>
							Nhật ký công việc sẽ giúp ghi lại quá trình làm việc như tưới nước, bón phân, sử dụng thuốc bảo vệ thực vật trong quá trình chăm sóc cây trông. Kèm theo đó chủ trang trại có thể lưu lại thời gian thu hoạch và bảo quản nông sản.
							<img src="~/images/feature/nhatky.png" loading="lazy"  class="w-100" alt="Nhật ký" />
						</p>
						<p class="news_detail_two_text">
							<h3>5. Tổng kết</h3>
							<em>
								Nhật ký nông hộ được ví như là một sổ tay điện tử giúp người quản lý, nông dân có thể lưu trữ và quản lý công việc một cách dễ dàng, tiên lợi và mình bạch thay vì việc ghi chép truyền thông.
							</em>
						</p>
					</div>
					<div class="news_detail__bottom">
						<a href="/tinh-nang/ket-noi-thiet-bi-iot" class="thm-btn">
							<span class="mr-2">Kết nối thiết bị IoT</span><i class="fas fa-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-5">
				<div class="sidebar">
					<div class="sidebar__single sidebar__post">
						<h3 class="sidebar__title">Tính năng liên quan</h3>
						<ul class="sidebar__post-list list-unstyled">
							<li>
								<div class="sidebar__post-image">
									<img src="~/images/feature/thumb/vungtrong.jpg" loading="lazy" alt="Quản lý vùng trồng">
								</div>
								<div class="sidebar__post-content">
									<h3>
										<a href="/tinh-nang/quan-ly-vung-trong">Quản lý vùng trồng</a>
									</h3>
								</div>
							</li>
							<li>
								<div class="sidebar__post-image">
									<img src="~/images/feature/thumb/iot.png" loading="lazy" alt="Kết nối thiết bị IoT">
								</div>
								<div class="sidebar__post-content">
									<h3>
										<a href="/tinh-nang/ket-noi-thiet-bi-iot">Kết nối thiết bị IoT</a>
									</h3>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

