
@{
	ViewData["Title"] = "Tính năng Kool Farming";
	ViewData["Description"] = "Kool Farming là phần mềm quản lý thông tin vùng trồng và nhật ký canh tác. Tích hợp nhiều chức năng tiến bộ vào quản lý và điều hành trên diện tích vùng trồng rộng lớn.";
	ViewData["Keywords"] = "Tinh nang Kool Farming, Smart Farming, Giai phap nong nghiep";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="blog-one news">
	<div class="block-title text-center">
		<p>Tính năng</p>
		<h3>Các tính năng của Kool Farming</h3>
		<div class="leaf">
			<img src="~/images/leaf.png" alt="Các tính năng của Kool Farming">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="blog_one_single mb-30">
					<div class="blog_one_image">
						<div class="blog_image">
							<a href="/tinh-nang/quan-ly-vung-trong"><img src="~/images/feature/thumb/vungtrong.jpg" loading="lazy" alt="Quản lý vùng trồng"></a>
						</div>
						<div class="blog-one__content shadow-sm">
							<h3><a href="/tinh-nang/quan-ly-vung-trong">Quản lý vùng trồng</a></h3>
							<div class="blog_one_text">
								<p>
									Chủ trang trại có thể nhập liệu các thông tin về trang trại, vùng trồng và thửa đất lên hệ thống	 từ đó đưa ra các chức năng quản lý về ngày tháng cây trồng và thời gian thu hoạch.
								</p>
							</div>
							<div class="read_more_btn">
								<a href="/tinh-nang/quan-ly-vung-trong"><i class="fa fa-angle-right"></i>Xem thêm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="blog_one_single mb-30">
					<div class="blog_one_image">
						<div class="blog_image">
							<a href="/tinh-nang/nhat-ky-nong-ho"><img src="~/images/feature/thumb/nhatky.jpg" loading="lazy" alt="Nhật ký nông hộ"></a>
						</div>
						<div class="blog-one__content  shadow-sm">
							<h3><a href="/tinh-nang/nhat-ky-nong-ho">Nhật ký nông hộ</a></h3>
							<div class="blog_one_text">
								<p>
									Chủ trang trại có thể quản lý vật tư, nhân công, ghi lại nhật ký hoạt động như tưới nước, bón phân, sử dụng thuốc của nhân công và kèm theo chấm công.
								</p>
							</div>
							<div class="read_more_btn">
								<a href="/tinh-nang/nhat-ky-nong-ho"><i class="fa fa-angle-right"></i>Xem thêm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6">
				<div class="blog_one_single mb-30">
					<div class="blog_one_image">
						<div class="blog_image">
							<a href="/tinh-nang/ket-noi-thiet-bi-iot"><img src="~/images/feature/thumb/iot.png" loading="lazy" alt="Blog One Image"></a>
						</div>
						<div class="blog-one__content  shadow-sm">
							<h3><a href="/tinh-nang/ket-noi-thiet-bi-iot">Kết nối thiết bị IoT</a></h3>
							<div class="blog_one_text">
								<p>
									Áp dụng công nghệ vào nông nghiệp đang là một xu thế, việc kết nối với các thiết bị IoT giúp chủ trang trại có thể giám sát được các thay đổi về nhiệt độ và độ ẩm giúp thuận tiện trong việc chăm sóc.
								</p>
							</div>
							<div class="read_more_btn">
								<a href="/tinh-nang/ket-noi-thiet-bi-iot"><i class="fa fa-angle-right"></i>Xem thêm</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

